<div
  id="{{user._id}}"
  class="user-table-body-line animate__animated"
  data-id="{{user._id}}"
>
  <div class="user-table-body-line-item">{{ user.username }}</div>
  <div class="user-table-body-line-item">{{ user.created | date}}</div>
  <div class="user-table-body-line-item">{{ user.group }}</div>
  <div class="user-table-body-line-item">{{ user.email }}</div>
  <div class="user-table-body-line-item">{{ user.quota | gb}}</div>
  <div class="user-table-body-line-item block d-flex justify-center">
    {% if user.block === true %}
    <span class="ban"></span>
    {% endif %}
  </div>
  <div class="user-table-body-line-item actions">
    <div
      class="actions__edit"
      data-id="{{user._id}}"
      data-target="edit"
      data-user='{{user| json }}'
    ></div>
    <div
      class="actions__trash"
      data-id="{{user._id}}"
      data-target="trash"
    ></div>
    <div class="actions__lock">
      {% if user.block === true %}
      <span
        class="actions_unlock"
        data-id="{{user._id}}"
        data-target="unlock"
      ></span>
      {% else %}
      <span
        class="actions_lock"
        data-id="{{user._id}}"
        data-target="lock"
      ></span>
      {% endif %}
    </div>
    <div class="actions__"></div>
    {{ user.actions }}
  </div>
</div>
