/*!***************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./microservices/article/assets/scss/index.scss ***!
  \***************************************************************************************************************************************/
@charset "UTF-8";
.img-country {
  background-image: url(../images/36x36_russia.png);
  width: 36px;
  height: 36px;
  margin-right: 0.5em;
  background-size: contain;
}

.img-add {
  background-image: url(../images/add.svg);
  width: 33px;
  height: 33px;
  background-size: contain;
  margin-right: 0.5em;
  background-repeat: no-repeat;
}

.img-geo-object {
  background-image: url(../images/cil-terrain.svg);
  width: 36px;
  height: 36px;
  background-size: contain;
  margin-right: 0.5em;
}

.navbar-left-ul-li__title {
  font: 1.1rem/1.5rem var(--cl--font-sans-serif);
  text-align: center;
  margin: 1rem 0;
  color: var(--cl-red);
}

.article-form-row,
.article-form-group2 {
  display: grid;
}

@media (min-width: 768px) and (max-width: 1920px) {
  .article-form-row {
    grid-auto-flow: column;
    grid-template-rows: repeat(3, 1fr);
    justify-content: stretch;
    align-content: center;
    grid-template-columns: 50% auto;
  }
  .article-form-row label {
    margin-top: 0;
  }
  .article-form-group2 {
    grid-auto-flow: column;
    grid-template-columns: repeat(4, 1fr);
    margin: 1rem 0;
  }
  .form-group__title {
    grid-column: 1;
    grid-row: 1;
  }
  .form-group__url {
    grid-column: 2;
    grid-row: 1;
  }
  .form-group-location-tags-searchable {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    align-items: flex-start;
  }
  .form-group__tags {
    flex-grow: 1;
  }
  .form-group__description {
    grid-column: 2;
    grid-row: span 3;
  }
  .form-group__description textarea {
    width: 100%;
    min-height: 135px;
  }
  .form-group__keyword {
    grid-column: 1;
    grid-row: 3;
  }
  .form-group__content {
    border-bottom: 1px solid #ccc;
  }
  #add .form-group-row {
    margin: 1rem;
  }
  .form-group-checkbox__search {
    grid-column: 1;
  }
  .form-input-desc {
    color: rgba(4, 4, 4, 0.7019607843);
  }
}
.dropzone {
  box-shadow: var(--bs-header-top-box-shadow);
  border: 4px solid rgba(0, 0, 0, 0.3) !important;
}

.dropzone .dz-preview .dz-image {
  width: 240px !important;
  height: 240px !important;
}

.dz-details .prev-img-wigth-height {
  font: 2em sans-serif;
}

.dz-image,
.dz-details {
  cursor: pointer !important;
}
.dz-image img,
.dz-details img {
  cursor: pointer !important;
}

.delete-img {
  margin: 1em 0;
  justify-content: center;
}

.upload-totals {
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 1rem 0;
}

.upload-totals-title__number {
  color: var(--bs-header-logo-background-color);
  font: 1.5em var(--cl--font-sans-serif);
}

.dropzone-absolute {
  position: fixed;
  top: 10%;
  width: 80%;
  max-height: 90%;
  z-index: 200;
  overflow-x: scroll;
  overflow-y: scroll; /* прокрутка по вертикали */
}
.dropzone-absolute .dropzone-close {
  background-image: url(../images/md-close-circle-outline.svg);
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  z-index: 1;
}

.wrapper-dropzone {
  display: none;
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  background: rgba(0, 0, 0, 0.5215686275);
  width: 100%;
  height: 100%;
  display: block;
}

.settings-form__content {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-items: center;
}

.settings-form-item {
  margin: 1rem;
}
