:root {
  --cl-user-table-thead: #fff;
}

.navbar-territorial-url {
  // line-height: 2.5rem !important;
  // text-align: center;
}
.navbar-country-ul-li__span {
  // margin-right: 0.5em;
}
.img-territorial {
}
// .navbar-country-url__add {
//
// .margin-right {
//   margin-right: 0.5em;
// }
.img-country {
  background-image: url(../images/36x36_russia.png);
  width: 36px;
  height: 36px;
  margin-right: 0.5em;
  background-size: contain;
}
.img-add {
  background-image: url(../images/add.svg);
  width: 33px;
  height: 33px;
  background-size: contain;
  margin-right: 0.5em;
  background-repeat: no-repeat;
}
.img-geo-object {
  background-image: url(../images/cil-terrain.svg);
  width: 36px;
  height: 36px;
  background-size: contain;
  margin-right: 0.5em;
}

.navbar-left-ul-li__title {
  font: 1.1rem/1.5rem var(--cl--font-sans-serif);
  text-align: center;
  margin: 1rem 0;
  text-decoration: underline;
  color: var(--cl-red);
}
// ----------------------------------------------------------------
// ARTICLE
// ----------------------------------------------------------------
.article-form-row {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: 'left right';
  grid-auto-flow: column;
}
.country-name {
}
.country-title {
}
.country-url {
}
.form-control {
}
.form-group-input {
}
.form-group-row {
  grid-area: 'top';
}
.form-group {
  &__content {
  }
  &__title {
    grid-area: left;
  }
  &__url {
    grid-area: right;
  }
}
#add {
  .form-group-row {
    // width: 49%;
    margin: 1rem;
  }
}
// ----------------------------------------------------------------
// DROPZONE
// ----------------------------------------------------------------
.dropzone {
  box-shadow: var(--bs-header-top-box-shadow);
  border: 4px solid rgba(0, 0, 0, 0.3) !important;
}
.dropzone .dz-preview .dz-image {
  width: 240px !important;
  height: 240px !important;
}
.dz-details {
  .prev-img-wigth-height {
    font: 2em sans-serif;
  }
}
.dz-image,
.dz-details {
  cursor: pointer !important;
  img {
    cursor: pointer !important;
  }
}
.delete-img {
  margin: 1em 0;
  justify-content: center;
}
.upload-totals {
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 1rem 0;
}
.upload-totals-title__number {
  color: var(--bs-header-logo-background-color);
  font: 1.5em var(--cl--font-sans-serif);
}
// ----------------------------------------------------------------
// TABLE OF CONTENTS
// ----------------------------------------------------------------
.user-table {
  margin-bottom: 30px;
  transition: box-shadow 0.2s ease-in-out;
}

.user-table-thead {
  height: 60px;
  background: var(--bs-header-logo-background-color);
}

.user-table-thead-item {
  text-align: center;
  color: var(--cl-user-table-thead);
}

.user-table-thead,
.user-table-body-line {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  align-items: center;
}

.user-table-body {
  padding: 0;
}

.user-table-body__line-none {
  text-align: center;
  font: 1.5rem/2rem var(--bs-font-sans-serif);
  color: var(--bs-gray-600);
}

.user-table-body-line {
  text-align: left;
  line-height: 4em;

  &:nth-child(even) {
    border-top: 1px solid var(--cl-border-color);
    border-bottom: 1px solid var(--cl-border-color);
  }
}

.user-table-body-line-item {
  &:nth-child(2n + 1),
  &:nth-child(6) {
    text-align: center;
  }
}

// ----------------------------------------------------------------
// TABLE
// ----------------------------------------------------------------

// ----------------------------------------------------------------
// USER FORM ADD
// ----------------------------------------------------------------
.user-form-add {
  display: grid;
  grid-template-columns: auto 860px auto;
  grid-template-areas: '. form .';
}

.user-form__add {
  grid-area: form;

  fieldset {
    padding: 1.5em;
  }
  legend {
    background-color: var(--bs-header-logo-background-color);
    font: 1.5em/2em var(--cl--font-sans-serif);
    color: var(--cl-user-table-thead);
    position: relative;
  }
}

.user-form-title__close {
  position: absolute;
  right: 1em;
  cursor: pointer;
  &:hover {
    color: var(--cl-gray-500);
  }
}

// ----------------------------------------------------------------
// PAGINATE
// ----------------------------------------------------------------
.user-list {
  list-style: none;
}

// ----------------------------------------------------------------
// SETTINGS
// ----------------------------------------------------------------
.settings-form__content {
  // display: flex;
  // flex-direction: row;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-items: center;
}
.settings-form-item {
  margin: 1rem;
}
